<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NOTICEboard</title>

<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet">

<link href="css/customStyleSheet.css" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="stylesheet" href="http://cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css">

<link rel="stylesheet" href="Monthly-master/css/monthly.css">

<!-- Angular Material style sheet -->
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="NOTICEboard" ng-cloak>
<nav class="navbar navbar-default newheader">
<div class="container-fluid">
	<div class="logodiv"><img class="logo" src="LOGO.png"></div>
	<div class="userinfo">
		<div class="username"><%= user.local.FirstName%></div>
		<div class="usericondiv"><img class="usericon" src="user_icon.png"></div>
		<div class="profile_dropdown">
			<div class="usericondiv_dd"><img class="usericon_dd" src="user_icon.png"></div>
			<div class="profile_info"><%= user.local.FirstName + ' ' + user.local.LastName%><br>
									  <%= user.local.email%>
			</div>
			<a href="/logout"><div class="signout_btn btn">Sign out</div></a>
		</div>
	</div>
	<div class="headerline"></div>
</div>
</nav>

<div class="container-fluid">
<div class="row mainrow">
	<div class="feed">
		<div class="searchbar">
			<form id="searchquery">
				<md-input-container md-no-float class="md-block">
					<input type = "text" class="searchinput" placeholder="looking for something" name = "query">
					<div class="filterbtn"><img src="hamburger_btn_for_search.png"></div>
				</md-input-container>
				<div class="filter_dropdown">
				  <h6>Filter by:</h6>
					<label>
						<input type="checkbox" name="searchfilter" value="Events" id="Searchfilter_0">
						Events</label>
					<br>
					<label>
						<input type="checkbox" name="searchfilter" value="LostAndFound" id="Searchfilter_1">
						Lost & Found</label>
					<br>
					<label>
						<input type="checkbox" name="searchfilter" value="BookSwap" id="Searchfilter_2">
						Book Swaps</label>
					<br>
					<label>
						<input type="checkbox" name="searchfilter" value="CourseSwap" id="Searchfilter_3">
						Course Swaps</label>
				</div>
			</form>
		</div>
		<div class="notifications"><img src="notifications.png">
			<div class="notif_dropdown">
				<div class="notif_dropdownheading">Notifications</div>
				<div class="notif1">Event today: RUNG  3:30pm - 6:30pm</div>
				<div class="notif1">Event today: CSO Seminar 3:30pm</div>
			</div>
		</div>
	  <div class="events">
			<div class="eHeading">
				<h4 class="eHeadingtext">Upcoming Events</h4>
				<a class="add" href="#"><img class="addevent" id="addEvent" src="1491100704_cancel.png"></a>
		  	</div>
			<div class="eventfeed">
				<% Event.forEach(function(x) { %>
					<div class="eventpost">
						<img class="eventpic" src=<%="data/"+x.img%>>
						<div class="eventinfo">
							<div class="eTitle"><%=x.title%></div>
							<div class="addtofav"><img class="unfaved star" src="star_off.png"></div>
							<div class="editpost"><img class="event_editbtn" src="pencil.png"></div>
							<div class="eInfo"><%=x['parsed']%>...<p class="open_overlay"><b>read more</b></p></div>
							<div class="eDateDetailed"><p>
														<%="Date: "+x.Date%></br>
														<%="Time: "+x.Time%></br>	
														<%="Location: "+x.location%></br>
														</p>
							</div>
							<input type = "hidden" id = "owner" value = <%=x.email%>>
							<input type = "hidden" id = "eventid" value = <%=x.event_id%>>
							<div class="eDate"><img src="Layer_6.png"></div>
						</div>
					</div>
				<% }); %>
			</div>
	  	</div>
		<div class="rightcol">
			<div class="monthly" id="mycalendar"></div>
			<div class="lostnfounds">
				<div class="lfHeading">
					<h4 class="eHeadingtext">Lost & Found</h4>
					<a class="add" href="#"><img class="addlnf" src="1491100704_cancel.png"></a>
				</div>
				<div class="lnffeed">
					<% LnF.forEach(function(x) { %>
						<div class= <%=x.id%>>
							<img class="lostnfoundpic" src= <%=x.img%>>
							<div class="lostnfoundinfo">
								<div class="lfInfo"><%= x.LostORFound+': '+x.LostItem+'. '+x.Description%></div>
								<div class="lf_maillink emailexpand">
									<p class="emailhere"><%=x.owner%></p>
									<img class="mailicon" src="outlook_icon.png">
								</div>
							</div>
						</div>
					<% }); %>
				</div>
			</div>
		</div>
		<div class="courseSwaps">
			<div class="csHeading">
				<h4 class="eHeadingtext">Course Swaps</h4>
				<a class="add" href="#"><img class="addevent" id="addCourse" src="1491100704_cancel.png"></a>
			</div>
			<div class="csfeed">
				<% Courses.forEach(function(x) { %>
					<div class="courseSwap1">
						<div class="courseSwap1a"><%="Have: "+x.CourseOffered + " by "+ x.InstructorOffered%><br>
												  		<%="at "+ x.TimingsOffered%>
						</div>
						<div class="courseSwap1b">
							<div class="courseNeed"><%="Have: "+x.CourseRequired + " by "+ x.InstructorRequired%><br>
														<%="at "+ x.TimingsRequired%>
							</div>
							<div class="cs_maillink emailexpand">
								<p class="emailhere"><%=x.owner%></p>
								<img class="mailicon" src="outlook_icon.png">
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
		<div class="bookSwaps">
			<div class="csHeading">
				<h4 class="eHeadingtext">Book Swaps</h4>
				<a class="add" href="#"><img class="addevent" id="addBook" src="1491100704_cancel.png"></a>
			</div>
			<div class="csfeed">
				<% Books.forEach(function(x) { %>
					<div class="courseSwap1">
						<div class="courseSwap1a"><%="Have: "+x.BookOffered + " by "+ x.BookOffAuthor%><br>
						</div>
						<div class="courseSwap1b">
							<div class="courseNeed"><%="Have: "+x.BookRequired + " by "+ x.BookReqAuthor%><br></div>
							<br>
							<div class="cs_maillink emailexpand">
								<p class="emailhere"><%=x.owner%></p>
								<img class="mailicon" src="outlook_icon.png">
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
	<div class="overlay">
		<% Event.forEach(function(x) { %>
			<div class="event_overlay">
				<img class="eventpic" src=<%="data/"+x.img%>>
				<div class="eventinfo">
					<div class="eTitle"><%=x.title%></div>
					<div class="addtofav"><img class="unfaved star" src="star_off.png"></div>
					<div class="deleteEvent"><img src="garbage.png"></div>
					<div class="eInfo"><%=x['Description']%></div>
					<div class="eDateDetailed"><p>
												<%="Date: "+x.Date%></br>
												<%="Time: "+x.Time%></br>	
												<%="Location: "+x.location%></br>
												</p>
					</div>
					<input type = "hidden" id = "owner" value = <%=x.email%>>
					<input type = "hidden" id = "eventid" value = <%=x.event_id%>>
					<div class="eDate_overlay"><img src="Layer_6.png"></div>
				</div>
			</div>
		<% }); %>
	  <div class="addBook_overlay alloverlays">
		<form action = "/bookSwapInsert" method = "post">
			<button class="button12" type="button" onclick="myfunc()">X</button>
			<div class="courseform_left2">
				<label for="textfield">Have Book:</label>
	           	<br>
	            	<input type="text" name= "bookoffered">
	            <br>
	            <label for="textfield">Author:</label>
	            <br>
	            	<input type="text" name="bookoffauthor">
	            <br>
	            <label for="textfield">Contact Number:</label>
	            <br>
	            	<input type="number" name="contact">
	            <br>
	            <br>
            </div>
            <div class="courseform_right2">
	            <label for="textfield">Need Book:</label>
	           	<br>
	            	<input type="text" name= "bookrequired">
	            <br>
	            <label for="textfield">Author:</label>
	            <br>
	            	<input type="text" name="bookreqauthor">
	            <br>
	            
	            <br>
	            <input type="submit" class = "submit12" value="POST">
	        </div>
		</form>
	   </div>
	   <div class="createCourse_overlay alloverlays">
		<form action = "/courseSwapInsert" method = "post">
			<button class="button12" type="button" onclick="myfunc()">X</button>
			<div class="courseform_left">
				<label for="textfield">Have Course:</label>
				<br>
					<input type="text" name="courseoffered">
				<br>
				<label for="textfield">Time:</label>
				<br>
					<input type="time" name = "timingsoffered">
				<br>
				<br>
				<label for="textfield">Instructor:</label>
				<br>
					<input type="text" name="instructoroffered">
            </div>
            <div class="courseform_right">
            	<label for="textfield">Need Course:</label>
				<br>
					<input type="text" name="courserequired">
				<br>
				<label for="textfield">Time:</label>
				<br>
					<input type="time" name = "timingsrequired">
				<br>
				<label for="textfield">Instructor:</label>
				<br>
					<input type="text" name="instructorrequired">
            	<br>
				<br>
				<input type="submit" class = "submit12" value="POST">
            </div>
		</form>
	  </div>
      <div class="addLnf_overlay alloverlays">
		<form action ="/lostandFound" method = "post" id = "lnfform">
			<div class="input-group">
		  	  <span class="input-group-addon"><input type="radio" value= "choiceLost" name="choice" checked>  Lost</span>
				
			  <span class="input-group-addon"><input type="radio" value="choiceFound" name="choice"> Found</span>
				
			</div>
			<button class="button12" type="button" onclick="myfunc()">X</button>
			<br>
		  <label for="textfield">Item:</label>
           	<br>
            	<input type="text" name="lostitem">
            <br>
            
            <label for="textfield">Description:</label>
            <br>
            	<textarea rows="4" cols="50" name = "description"></textarea>
            <br>
            <br>
            <label for="textfield">Upload Image</label>
            <br>
            	<input type="file" id = "fileevent1" name = "image">
            <br>
            <br>
            <input type="submit" class = "submit12" value="POST">
		</form>
	   </div>
	   <div class="addEvent_overlay alloverlays">
		<form action="/eventsInsert" method="post" id = "eventform">
			<button class="button13" type="button" onclick="myfunc()">X</button>
			<div class="courseform_left">
				<label for="textfield">Event Name:</label>
				<br>
					<input type="text" name="eventname">
				<br>
				<label for="textfield">Description:</label>
				<br>
            		<textarea rows="4" cols="40" name = "description"></textarea>
				<br>
				<label for="textfield">Event Date:</label>
				<br>
					<input type="date" name = "date">
				<br>
				<label for="textfield">Venue:</label>
				<br>
					<input type="text" name= "venue">
            </div>
            <div class="courseform_right">
            	<label for="textfield">Upload Image:</label>
				<br>
            		<input type="file" name = "image" id = "fileevent">
				<br>
				<label for="textfield">Time:</label>
				<br>
					<input type="time" name = "time">
				<br>
				<br>
				<input type="submit" class ="submit12" value="POST">
            </div>
		</form>
	   </div>
	   <div class="editEvent_overlay alloverlays">
		<form action="/edit" method="post" id = "eventform_edit">
			<div class="courseform_left">
				<label for="textfield">EVENT NAME:</label>
				<br>
					<input type="text" name="eventname">
				<br>
				<label for="textfield">DESCRIPTION:</label>
				<br>
            		<textarea rows="4" cols="40" name = "description"></textarea>
				<br>
				<label for="textfield">EVENT DATE:</label>
				<br>
					<input type="date" name = "date">
				<br>
				<label for="textfield">VENUE:</label>
				<br>
					<input type="text" name= "venue">
            </div>
            <div class="courseform_right">
            	<label for="textfield">TIME:</label>
				<br>
					<input type="time" name = "time">
				<br>
				<br>
				<input type="submit" value="POST">
            </div>
		</form>
	   </div>
	   <div class="searchResult_overlay alloverlays container-fluid">
	   		<div class="row">
		   		<h1 class="searchHeading">Search Results for: <span style="color:#0D98E8;" id = "resultQuery">something</span></h1>
				<div class="col-md-9">
					<div class="row">
						<form id="searchquery1">
							<div class="searchbar_spg">
								<md-input-container md-no-float class="md-block">
									<input class="searchinput" placeholder="looking for something" name = "query">
								</md-input-container>
							</div>
						</form>
					</div>
					<div class="row">
						<div class="search_feed"></div>
					</div>
   				</div>
   				<div class="col-md-3">
	   				<div class="filter_dropdown_spg">
					  <form id = "searchquery2">
						  <h6>Filter by:</h6>
							<label>
								<input type="checkbox" name="searchfilter" value="Events" id="Searchfilter_0">
								Events</label>
							<br>
							<label>
								<input type="checkbox" name="searchfilter" value="LostAndFound" id="Searchfilter_1">
								Lost & Found</label>
							<br>
							<label>
								<input type="checkbox" name="searchfilter" value="BookSwap" id="Searchfilter_2">
								Book Swaps</label>
							<br>
							<label>
								<input type="checkbox" name="searchfilter" value="CourseSwap" id="Searchfilter_3">
								Course Swaps</label>
					  </form>
					</div>
	   			</div>
		   	</div>
	   </div>
	</div>
	<div class="cover"></div>
</div>
</div>

<div class="container-fluid footer">
 <div class="navbar-footer">
	<ul class="nav navbar-nav navbar-right">
        <li><a class="footerlink firstlink" href="/mainpage">HOME</a></li>
        <li><a class="footerlink" href="/">CONTACT</a></li>
        <li><a class="footerlink" href="tos.html">TERMS OF SERVICE</a></li>
	 </ul>
 </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/lib.js"></script>
<script src="js/socket.io.js"></script>
<script src="js/socket.io-file-client.js"></script>
<script src="js/client.js"></script>
<script>
function myfunc(){
		$('.overlay').hide();
		$('.cover').hide();
		$('.alloverlays').hide();
	}
</script>
<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<script type="text/javascript">
	angular.module('NOTICEboard', ['ngMaterial']);
</script>

<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="http://cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js"></script>


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>

<script type="text/javascript" src="Monthly-master/js/monthly.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
